.ui {
    &.main.container {
        margin-top: 7em;
    
        div.results {
            margin: 1em 0;
        }
    }

    &.form {
        max-width: 500px;
    }
    
    &.footer.segment {
        margin: 5em 0em 0em;
        padding: 5em 0em;
    }
}
