extends tmpl/layout.pug

block append meta
    title Räkna.net

block content
    h1(class="ui dividing header") Gör något här
        .sub.header Underrubrik

    p Beräkna hur mycket pengar du får behålla av din lön varje månad och hur mycket du betalar i inkomstskatt.

    p Är du arbetsgivare? Använd istället <a href="#">den här andra räknaren</a> för att beräkna hur mycket lön som du ska betala ut.
    
    .ui.ad Annons!

    form.ui.form
        .field
            label Vad har du i lön?
            .ui.large.right.labeled.input
                input(name="salary" placeholder="Lön" value="25000" type="text")
                .ui.basic.label kr/mån

        .field
            .ui.fluid.search.selection.dropdown
                input(name="country" type="hidden")
                i.icon.dropdown
                .default.text Välj församling
                .menu
                    .item(data-value="1") Skerike församling
                    .item(data-value="2") Adolf Fredriks församling

        .field
            .ui.checkbox
                input(tabindex="0" class="hidden" type="checkbox")
                label Medlem i Svenska kyrkan

        button.ui.primary.button(type="submit") Beräkna

    .results
        p#resultsp
            strong Resultat:
            span#results Du får 19 241 kr i månaden efter skatt

    p 
        | Din arbetsgivare använder vanligtvis en tabell från Skatteverket för att beräkna den preliminära skatt som ska dras från din lön varje månad.
        | Vid deklarationen beräknas sedan din slutgiltiga skatt, som påverkas av exempelvis ränteavdrag, försäljning av värdepapper och fastigheter.
