script(src='scripts/jquery.min.js')
// Core-js shim for ES6 features in Semantic
script(src='scripts/core-js.shim.min.js')
script(src='scripts/semantic.min.js')
script(src='scripts/lodash.min.js')
script(src='scripts/app.js')
