doctype html
<html>

include head.pug

body
    header(class="ui fixed inverted menu")
        div(class="ui container")
            a(href="#" class="header item") Räkna.net
            <a href="#" class="item">Home</a>
            <div class="ui simple dropdown item">
                Dropdown <i class="dropdown icon"></i>
                <div class="menu">
                <a class="item" href="#">Link Item</a>
                <a class="item" href="#">Link Item</a>
                <div class="divider"></div>
                <div class="header">Header Item</div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    Sub Menu
                    <div class="menu">
                    <a class="item" href="#">Link Item</a>
                    <a class="item" href="#">Link Item</a>
                    </div>
                </div>
                <a class="item" href="#">Link Item</a>
                </div>
            </div>

    div(class="ui main container")
        h1(class="ui dividing header") Gör något här
            div(class="sub header") Underrubrik

include foot.pug
